* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.keypad {
  display: flex;
  width: 75vmin;
  height: 75vmin;
}

.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.controlpad {
  flex: 1;
  display: flex;
}

.controlpad button {
  flex: 1;
}

.numpad {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
}

.numpad button {
  flex: 1 1 calc(100% / 3);
}

.operatorpad {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.operatorpad button {
  flex: 1;
}
