/* Global styles */

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

/* Page layout styles */

/* Flex body to center the calculator on the screen */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Calculator styles */

/* Main wrapper using vmin to ensure the calculator 
  stays rectangle and fits on both mobile and desktop screens 
*/
.calculator {
  display: flex;
  flex-direction: column;
  width: 75vmin;
  height: 75vmin;
}

/* --- Display container --- */
/* The display takes up 2/7ths of the total height */
.display {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.expression,
.result {
  flex: 1;
}

/* --- Keypad container --- */
/* The keypad takes up 5/7ths of the total height */
.keypad {
  flex: 5;
  display: flex;
}

/* Holds the Control Pad (top) and Numpad (bottom).
  Takes up 3 parts of the width vs. Operator Pad's 1 part. */
.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
}

/* --- Control Pad (AC, Backspace) --- */
.controlpad {
  flex: 1; /* Takes 1/5 of the vertical space */
  display: flex;
}

.controlpad button {
  flex: 1;
}

/* --- Number Pad (0-9, .) --- */
.numpad {
  flex: 4; /* Takes 4/5 of the vertical space */
  display: flex;
  flex-wrap: wrap; /* Allows buttons to form a grid */
}

.numpad button {
  /* Calculates exactly 1/3rd of the width for a 3-column grid. */
  flex: 1 1 calc(100% / 3);
}

/* Vertical column for mathematical operators */
.operatorpad {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.operatorpad button {
  flex: 1;
}
